@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-grayish-cyan;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}
